<body class=''>
    <header class="border-none sticky-top bg-white bg-inabve">
        <div class="container-fluid ">
            <div class="row">
            
            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-1  d-flex justify-content-between">
                <h3 class="text-white my-auto ms-4 fw-bold d-inline">
                    VENTANA DE ATENCIÓN AL CLIENTE
                </h3>
                <img src="assets/images/logoSivetweb.jpeg" class="card-img-right float-end" alt="Logo Inabve" />
            </div>
            
            </div>
        </div>
    </header>
          <div class="container-fluid" >
            <div class="row ">
                <!-- <div class="d-flex align-items-center">                 -->
                    <div class="col ps-0 py-3 config-body"  style="height: 91vh; overflow-y:scroll;">
                        <div class="container py-2">
                            <ng-container *ngIf="mostrarAreas;else seleccionSucursal">

                                <div class="row">
                                    <h3 class="text-black my-auto ms-4 fw-bold d-inline">
                                        Sucursal seleccionada: {{ nombreSucursal }}
                                    </h3>
                                    <div class="col-md-4 mt-4" *ngFor="let item of AreasAtencion">
                                        <a class="text-decoration-none" rel="nofollow" (ngModel)="item" (click)="guardarAreaAtencion(item)">
                                            <div class="card container-card-custom">
                                                <img src="assets/images/creditos-img.svg" class="card-img-top px-4-rem py-2 img-hover" alt="créditos">
                                                <div class="card-body bg-inabve body-text-custom">
                                                    <p class="card-text text-white text-center text-card-custom">{{ item.descripcion }}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <!-- <div class="col-md-4 mt-4">
                                        <a class="text-decoration-none" rel="nofollow" (click)="guardarAreaAtencion(null)">
                                            <div class="card container-card-custom">
                                                <img src="assets/images/creditos-img.svg" class="card-img-top px-4-rem py-2 img-hover" alt="créditos">
                                                <div class="card-body bg-inabve body-text-custom">
                                                    <p class="card-text text-white text-center text-card-custom">Todas las áreas</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div> -->
                                </div>
                        </ng-container>
                        <ng-template #seleccionSucursal>
                            <div class="row">
                                <h3 class="text-black my-auto ms-4 fw-bold d-inline">
                                    Seleccione sucursal
                                </h3>
                                <div class="col-md-4 mt-4" *ngFor="let sucursal of sucursales">
                                    <a class="text-decoration-none" rel="nofollow" (ngModel)="sucursal" (click)="guardarSucursal(sucursal)">
                                        <div class="card container-card-custom">
                                            <img src="assets/images/creditos-img.svg" class="card-img-top px-4-rem py-2 img-hover" alt="créditos">
                                            <div class="card-body bg-inabve body-text-custom">
                                                <p class="card-text text-white text-center text-card-custom">{{ sucursal['descripcion'] }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </ng-template>
                        </div>
                    </div>
                <!-- </div> -->
                <div class="bg-inabve px-2 pt-1 pb-1">
                    <p class="text-white text-center py-2 mb-0"> © INABVE TICS • Todos los derechos reservados</p>
                </div>
            </div>
          
        </div>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
</body>