
.tabs-item{
    height: 99vh;
}

.ticket_pendiente{
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    font-weight: bold;
}
.ticket_encola{
    background-color: rgb(43, 191, 191);
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    font-weight: bold;
}

.ticket_atentido{
    background-color: lightgreen;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    font-weight: bold;
}
.ticket_sinrespuesta{
    background-color: rgb(232, 185, 185);
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    font-weight: bold;
}
.ticket_gestionando{
    background-color: lightsalmon;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    font-weight: bold;
}
/** Elimina el borde del iframe */
.card-iframe > iframe {
    border: 0;
}