     
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.4)" size = "large" color = "#fff" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
    <div class="row">
    <!-- <div class="card tabs-item" style="background-color: #111c4e;"> -->
    <div class="card tabs-item">
        
        <p-scrollPanel [style]="{width: '100%', height: '96vh'}">
            <p-tabView (onChange)="refrescar($event)">
                <!-- Pantalla de gestion de tikets -->
                <p-tabPanel header="Gestion ventanilla" >
                    
                    <p-table responsiveLayout="scroll" [value]="listaTicketGestion" [scrollable]="true" scrollHeight="25vh">
                        <ng-template pTemplate="caption">
                            <div class="p-grid">
                                <div class="p-col-12 p-lg-4 p-md-4 p-sm-6">
                                    <p-button *ngIf="listaTicketGestion.length == 0" label="LLAMAR" icon="pi pi-volume-up" iconPos="right" (onClick)="llamarAlSiguiente()" [disabled]="habilitarLlamadaLocal"></p-button>
                                    &nbsp;
                                    <p-button label="PENDIENTES" class="p-button-info" icon="pi pi-users" (click)="mostrarTicketPendiente()"></p-button>
                                </div>
                                <div class="p-col-12 p-lg-6 p-md-5 p-sm-2" style="text-align: center;">
                                    <h4>Área: <strong>{{areaSelecionada}}</strong>, escritorio: <strong>{{ventanillaSeleccionada}}</strong></h4>
                                </div>
                                <div class="p-col-12 p-lg-2 p-md-3 p-sm-4" style="text-align: right;">
                                    <p-button icon="pi pi-sign-out" label="Salir" styleClass="p-button-danger" (click)="cerrarSesion()"></p-button> &nbsp;
                                    <p-button icon="pi pi-cog" pTooltip="Cambiar Escritorio" tooltipPosition="left" styleClass="p-button-secondary" (click)="obtenerVentanilla(true)"></p-button>
                                </div>
                            </div>
                           <div class="p-col-12 p-fluid">
                               <label for="">Ticket en Proceso</label>
                           </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:3rem">Area</th>
                                <th style="width:3rem">Codigo</th>
                                <th style="width:3rem">Codigo veterano</th>
                                <th style="width:3rem">Nombre veterano</th>
                                <th style="width:3rem">Fecha Inicio</th>
                                <th style="width:3rem">Estado</th>
                                <th style="width:3rem">Accion</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-tProceso>
                            <tr>
                            <!-- <tr *ngFor="let ticktes of listaTickets"> -->
                                <td style="width:3rem">{{tProceso.area}}</td>
                                <td style="width:3rem">{{tProceso.codigo}}</td>
                                <td style="width:3rem">{{tProceso.carnet==null?'-':tProceso.carnet}}</td>
                                <td style="width:3rem">{{ tProceso.nombreCompleto==' '?tProceso.codigo:tProceso.nombreCompleto }}</td>
                                <td *ngIf="tProceso.fechaInicio=='1900-01-01T00:00:00.000Z'" style="width:3rem"></td>
                                <td *ngIf="tProceso.fechaInicio!='1900-01-01T00:00:00.000Z'" style="width:3rem">{{tProceso.fechaInicio | date : 'dd-MM-yyyy HH:mm'}}</td>
                                <td style="width:3rem">
                                    <label [ngClass]="tProceso.estado=='En Cola'?'ticket_encola':tProceso.estado=='Gestionando'?'ticket_gestionando': tProceso.estado=='Sin Respuesta'?'ticket_sinrespuesta':'ticket_atentido'">{{tProceso.estado}}</label>
                                    
                                </td>
                                <td style="width:3rem">
                                        <p-button *ngIf="esFinalizado"  label="FINALIZAR" styleClass="p-button-success" icon="pi pi-check" (click)="atenderTicket(tProceso.id,true)"></p-button>
                                        &nbsp;
                                        <p-button *ngIf="!esFinalizado" label="ATENDER" styleClass="p-button-info" icon="pi pi-user" (click)="atenderTicket(tProceso.id,false)"></p-button>
                                        &nbsp;
                                        <!-- <p-button *ngIf="!esFinalizado" pButton pRipple type="button" label="LLAMAR" class="p-button-warning" [badge]="contadorLlamada" badgeClass="p-badge-danger" pTooltip="Volver a llamar" (click)="volverALlamar()"></p-button> -->
                                        <p-button *ngIf="!esFinalizado " label="LLAMAR" type="button" icon="pi pi-volume-up" styleClass="p-button-warning" [badge]="contadorLlamada" badgeClass="p-badge-danger" (onClick)="volverALlamar(tProceso)" [disabled]="habilitarLlamadaLocal"></p-button>
                                        &nbsp;
                                        <p-button *ngIf="ticketInvalido" label="ELIMINAR" type="button" icon="pi pi-trash" styleClass="p-button-danger" [badge]="contadorLlamada" badgeClass="p-badge-danger" (onClick)="eliminarTicket()"></p-button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <p-table responsiveLayout="scroll" [value]="listaTicketsSinRespuesta" [scrollable]="true" scrollHeight="45vh" [paginator]="true" [rows]="7">
                        <ng-template pTemplate="caption">
                            
                           <div class="p-col-12 p-fluid">
                               <label for="">Listado de Ticket Especiales y/o Sin Respuesta</label>
                           </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Area</th>
                                <th>Codigo</th>
                                <th>Codigo veterano</th>
                                <th>Nombre veterano</th>
                                <th>Fecha Creación</th>
                                <th>Estado</th>
                                <th>Accion</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-ticket>
                            <tr>
                            <!-- <tr *ngFor="let ticktes of listaTickets"> -->
                                <td>{{ticket.area}}</td>
                                <td>{{ticket.codigo}}</td>
                                <td>{{ticket.carnet}}</td>
                                <td>{{ticket.nombreCompleto}}</td>
                                <td *ngIf="ticket.creadoEn=='1900-01-01T00:00:00.000Z'"></td>
                                <td *ngIf="ticket.creadoEn!='1900-01-01T00:00:00.000Z'">{{ticket.creadoEn | date : 'dd-MM-yyyy HH:mm' : '+0:00'}}</td>
                                <td>
                                    <label [ngClass]="ticket.estado=='En Cola'?'ticket_encola':ticket.estado=='Gestionando'?'ticket_gestionando': ticket.estado=='Sin Respuesta'?'ticket_sinrespuesta':'ticket_atentido'">{{ticket.estado}}</label>
                                </td>
                                <td><p-button *ngIf="listaTicketGestion.length==0" label="LLAMAR" icon="pi pi-volume-up" iconPos="right" (click)="llamarSinRespuesta(ticket)"></p-button></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="flex align-items-center justify-content-between">
                                En total hay {{listaTickets ? listaTickets.length : 0 }} Tickets.
                            </div>
                        </ng-template>
                    </p-table>

                </p-tabPanel>
            
                <p-tabPanel [header]="item.label" *ngFor="let item of _menu.menuObj; let i = index" >
                </p-tabPanel>
                <div class="card-iframe" style="height: 90vh; max-height: 92vh;" [hidden]="iframeOculto">
                    <iframe #ifventanilla id="ifventanilla" [src]="ruta" width="100%" height="100%"></iframe>
                </div>
            </p-tabView>
        </p-scrollPanel>
    </div>
</div><hr>

<p-dialog header="Área de atención" [(visible)]="displayVentanilla" [style]="{width: '50vw'}" modal="true" [closable]="false" [closeOnEscape]="false" >

    <div class="p-col-12" *ngIf="bloquearAtencion" style="text-align: center;">
        <h4>No poseé área de atención</h4>
        <h4>Contacte con soporte para poder ayudarle</h4>
    </div>
    
    <div class="p-grid" *ngIf="!bloquearAtencion">
        <div class="p-col-12 p-lg-3 p-md-3 p-fluid">
            <!-- <p-dropdown [options]="areaItem" [(ngModel)]="selectAtencionItem" placeholder="Selecione un área" optionLabel="label" [showClear]="true" appendTo="body" (onChange)="onChangeArea(selectAtencionItem.label)" ></p-dropdown> -->
        </div>
        <div class="p-col-12 p-lg-6 p-md-6 p-fluid">
            <!-- <p-selectButton *ngIf="selectAtencionItem!=null" [options]="ventanillaItem" [(ngModel)]="selectedVentanillaItem" optionLabel="label"></p-selectButton> -->
            <p-dropdown [options]="ventanillaItem" [(ngModel)]="selectedVentanillaItem" placeholder="Selecione un escritorio" optionLabel="label" [showClear]="true" appendTo="body" (onChange)="onchangeVentanilla(selectedVentanillaItem.value)" ></p-dropdown>
        </div>
    </div>

    <div class="p-col-12" style="text-align: right;">
        <p-button icon="pi pi-sign-out" label="Salir" styleClass="p-button-danger" (click)="cerrarSesion()"></p-button> &nbsp;
        <p-button *ngIf="selectedVentanillaItem != null" label="Guardar" icon="pi pi-check" iconPos="left" (click)="guardarAreayVentanilla()"></p-button>
    </div>
</p-dialog>


