<div class="layout-container layout-top-small"
    [ngClass]="{'layout-menu-horizontal': app.horizontal,
     'p-ripple-disabled': !app.ripple, 'p-input-filled': app.inputStyle === 'filled'}">

      
    <p-scrollPanel [style]="{width: '100%', height: '100vh'}">
        <div class="container">
                <div class="p-grid" >
                    <div class="p-col-3 p-md-3 p-lg-3 p-sm-3 dash-contenedor" style="height: 100%;">
                        <app-veterano-buscar></app-veterano-buscar>
                        <!-- <iframe src="http://192.168.3.21:4203/" frameborder="0" width="100%"></iframe> -->
                    </div>
                    
                    <div class="p-col-9 p-md-9 p-lg-9 p-sm-9 dash-contenedor">
                        <div class="p-grig" style="padding-right: 1%;">
                            <app-dashboard-atencion></app-dashboard-atencion>
                        </div>
                    </div>
                </div>
        </div> 
    </p-scrollPanel> 
</div>
<!-- <p-dialog header="Seleccione Area y ventanilla" [(visible)]="display" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}" 
    [draggable]="false" [resizable]="false">

    <p-dropdown [options]="codigoArea" [(ngModel)]="idArea" placeholder="Seleccione area" optionLabel="descripcion" [showClear]="true" appendTo="body"></p-dropdown>
    
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="guardarVentanillaArea(6,idArea)" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog> -->