<p-scrollPanel [style]="{width: '100%', height: '100vh'}">
    <div class="p-col-12 p-md-12 p-fluid" style="background-color: white;">  
        <p-fieldset legend="Información del Veterano" [toggleable]="true"> 
    
            <div class="p-grid p-fluid">
                <div class="p-col-12 p-md-12" style="text-align: center;" > <br>
    
                    <img *ngIf="!_veterano.existeVeterano"  [src]=" 'https://www.w3schools.com/w3images/avatar2.png' " width="180rem" height="180rem"><br>  
                    <img *ngIf="_veterano.existeVeterano"    width="180rem" height="180rem" alt="No se econtró fotografía" [src]="'https://core.inabve.gob.sv/veteran_photos/api/public/dl/7HOtKaYd/VET_FOTO_'+_veterano.regVeteranosModel.carnet+'.jpg?inline=true'"><br>  
                 
                    <button *ngIf="existeVeterano" icon="pi pi-pencil" class="p-button p-button-primary formatoBoton"  pButton pRipple label="Editar"></button> 
                </div>
                <div class="p-col-12 p-md-12">
                    <button pButton pRipple label="Bitácora" class="p-button p-button-primary" icon="pi pi-pencil" (click)="app.abrirBitacora()"></button>
                </div>
                <div class="p-col-12 p-md-12">
                    
                    <div class="p-grid p-fluid">  
                        <div class="p-col-6 p-md-6 p-sm-6">
                            <label class="titulos"> <i class="pi pi-id-card"></i> &nbsp; DUI:</label>
                            <span class="p-float-label alinearSpan campos">{{_veterano.regVeteranosModel.dui}}</span>
                        </div>
                        <div class="p-col-6 p-md-6 p-sm-6">
                            <label class="titulos"> <i class="pi pi-credit-card"></i> &nbsp; Carné:</label>
                            <span class="p-float-label alinearSpan campos">{{_veterano.regVeteranosModel.carnet}}</span>
                        </div>
                        <div class="p-col-12 linea">
                            <hr>
                        </div>
                        <div class="p-col-12 p-md-12 p-sm-6">
                            <label class="titulos"> <i class="pi pi-user"></i> &nbsp; Nombre completo:</label>
                            <span class="p-float-label alinearSpan campos">{{_veterano.regVeteranosModel.nombres }} {{_veterano.regVeteranosModel.apellidos }}</span>
                            <hr>
                        </div>
                        <div class="p-col-6">
                            <label class="titulos"> <i class="pi pi-calendar"></i> &nbsp; Edad:</label>
                            <span class="p-float-label alinearSpan campos">{{_veterano.regVeteranosModel.edad }}</span>
                        </div>
                        <div class="p-col-6">
                            <label class="titulos"> <i class="pi pi-flag"></i> &nbsp; Sector:</label>
                            <span class="p-float-label alinearSpan campos">{{_veterano.regVeteranosModel.sector }}</span>
                        </div>
                        <div class="p-col-12 linea">
                            <hr>
                        </div>
                        <div class="p-col-6">
                            <label class="titulos"> <i class="pi pi-exclamation-circle"></i> &nbsp; Estado:</label>
                            <span class="p-float-label alinearSpan campos">{{_veterano.regVeteranosModel.estado | uppercase }}</span>
                        </div>
                        <div class="p-col-6">
                            <label class="titulos"> <i class="pi pi-users"></i> &nbsp; Género:</label>
                            <span class="p-float-label alinearSpan campos">{{ _veterano.regVeteranosModel.sexo == "M" ? "MASCULINO" : _veterano.regVeteranosModel.sexo == "F" ? "FEMENINO" : ""  }}</span>
                        </div>
                        <div class="p-col-12 linea">
                            <hr>
                        </div>
                        <div class="p-col-12 p-md-12 p-sm-6">
                            <label class="titulos"> <i class="pi pi-mobile"></i> &nbsp; Celular:</label>
                            <span class="p-float-label alinearSpan campos">{{_veterano.regVeteranosModel.celular1 }}</span>
                            <hr>
                        </div>  
                    </div>
                </div> 
            </div>  
        </p-fieldset>  
    </div>
</p-scrollPanel>


