h6{
    color: black;
}

label{
    color: #111c4e;
    font-size: 14px;
}

.img{position: relative;}
.img:before{display: block;content: "";width: 100%;height: 100%;position:absolute;box-shadow: 0 0 58px pink inset;}


.titulos {
    padding: 4px;
    border-radius: 3px;
    background-color: rgba(212, 207, 206, 0.407);
    font-weight: 700;
}

.titulos i{
    font-size: 1.3rem;
    vertical-align: middle;
}
.linea{
    padding: 0;
}
.campos {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.alinearSpan {
    padding-top: 1vh;
}

.alinearSwich {
    padding-top: 2vh;
}

.alinearBotton {
    margin-top: 3vh;
}