.sidebar {
    /* position: fixed; */
    /* width: 25%; */
    display: block;
    height: 100vh;
    background:#063970;
    color: #fff;
    font-size: 4em;
    scroll-behavior: auto;
;
  }

  hr{
    border: #FFF;
    height: 5pxs;
  }
  .nav {
    position: relative;
    text-align: right;
    font-weight: bold;
    background-color: #063970;
    color: #fff;
    margin: 0;
    width: 100%;
  }

  .nav ol {
    list-style: none;
  }

 .list-item-container{
    padding: 2%;
    margin: 2%;
    
 } 
  li {
    position: relative;
    margin: 0;
  }

a {
    line-height: 5em;
    text-transform: uppercase;
    text-decoration: none;
        letter-spacing: 0.4em;
        color: rgba(#FFF, 0.35);
        display: block;
        transition: all ease-out 300ms;
}
      
p {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    color: #FFF;
    font-weight: bold;
    margin-top: 20px;
  }
