<p-table responsiveLayout="scroll" [value]="listaTicketPendiente" [scrollable]="true" scrollHeight="30vh">
    <ng-template pTemplate="caption">
        
       <div class="p-col-12 p-fluid">
           <label for="">Ticket en Proceso</label>
       </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Area</th>
            <th>Codigo</th>
            <th>Codigo veterano</th>
            <th>Nombre veterano</th>
            <th>Fecha Creado</th>
            <th>Estado</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tProceso>
        <tr>
        <!-- <tr *ngFor="let ticktes of listaTickets"> -->
            <td>{{tProceso.area}}</td>
            <td>{{tProceso.codigo}}</td>
            <td>{{tProceso.carnet}}</td>
            <td>{{tProceso.nombreCompleto}}</td>
            <td>{{tProceso.creadoEn | date : 'dd-MM-yyyy HH:mm'}}</td>
            <td>
                <label [ngClass]="tProceso.estado=='En Cola'?'ticket_encola':tProceso.estado=='Gestionando'?'ticket_gestionando': tProceso.estado=='Sin Respuesta'?'ticket_sinrespuesta':'ticket_atentido'">{{tProceso.estado}}</label>
            </td>
        </tr>
    </ng-template>
    
</p-table>