<div class="container-fluid">
  <div class="row">
    <div class="col-8 sinpadding" *ngIf="!showInDisplay" >
      <video #video loop width="100%" height="100%"  controls="hidden" style="background-color: #111c4e; " >
        <!-- <source src="./assets/videos/videoinabve2.mp4" type="video/mp4"> -->

        <source [src]="_enviroment ? 'https://core.inabve.gob.sv/veteran_photos/api/public/dl/2xuCiSND?inline=true' : 'https://core.inabve.gob.sv/veteran_photos/api/public/dl/HutCiL9s?inline=true'" type="video/mp4">

        <!-- <source src="https://res.cloudinary.com/syscoredevs/video/upload/v1656015349/Inabve/videoinabve2_rf2j7m{{codigoSucursal}}-{{codigoArea}}.mp4" type="video/mp4"> -->
      </video>
    </div>  
    <div class="col-4 sidebar" style="border-left: solid 1px rgba(255, 255, 255, 0.35);">
      <div class="fw-bold turnoTittle squareBorders">TURNOS: &nbsp;
        <span  *ngIf="!pantallaCompleta" (click)="openFullscreen()"><fa-icon [icon]="faExpand" style="color: #111c4e; cursor: pointer;"></fa-icon></span>
        <span *ngIf="pantallaCompleta" (click)="closeFullscreen()"><fa-icon [icon]="faCompress" style="color: #111c4e; cursor: pointer;"></fa-icon> </span></div>
      <div *ngFor="let item of listaTickets" class="grupolista">
        <div class="sidebarGroup" >
          <!-- <div class="fw-bold turnoTittle" (click)="llamada( item )" id="btn_turno">
            {{ item.codigo }}
          </div> -->
          <div class="fw-bold turnoTittle" id="btn_turno">
            {{ item.codigo }}
          </div>
          <div class="fw-bold escritorioTittle"> ESCRITORIO  {{ item.escritorio }} </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div> 
