.sidebar {
  display: block;
  height: 100vh;
  background:#111c4e;
  color: #fff;
  scroll-behavior: auto;
  overflow: auto;
  align-items: center;
  padding-right: solid 3px white !important;

}
.sinpadding {
padding: 0 !important;
}
hr{
  border: #FFF;
  height: 5px;
}

.nav {
  position: relative;
  text-align: right;
  font-weight: bold;
  background-color: #052e5a;
  color: #fff;
  margin: 0;
  width: 100%;
}

.nav ol {
  list-style: none;
}

.list-item-container{
  padding: 2%;
  margin: 2%;
  
} 
li {
  position: relative;
  margin: 0;
}

a {
  line-height: 5em;
  /* text-transform: uppercase; */
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(#FFF, 0.35);
  display: block;
  transition: all ease-out 300ms;
}
    
p {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: #FFF;
  font-weight: bold;
  margin-top: 20px;
}
.grupolista{
  display: block;
  margin-top: 5%;
}
.sidebarGroup{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.turnoTittle{
  font-weight: bolder;
  font-size: 4vw;
  text-align: center;
  margin: 0% 0% !important;
  padding: 0% 5% !important;
  background-color: #6a88a9;
  border-radius: 2vw;
}
.squareBorders{
  border-radius: 0;
}
.turnoTittle :hover{
  background-color: #38618d;
}

.escritorioTittle{
  text-align: center;
  font-weight:  bold;
  font-size: 3vw;
  margin: 0 auto;
}
:host ::ng-deep .p-button {
  margin: 0 .5rem 0 0;
  min-width: 10rem;
}

p {
  margin: 0;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
}